@media  (min-width: 640px) {

  /* #skills {
    flex-direction: row;
    flex-wrap: wrap;
  } */

  .nav_bar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
}

@media (min-width: 900px) {
  #work ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project_card {
    flex: 1 1 45%;
  }
}
